.search-bar {
    color: #fff;
    display: flex;
    justify-content: center;
    width: fit-content;
    position: relative;
    #city{
        width: 25vw;
        height: 2.5rem;
        border-radius: 1rem;
        border: none;
        padding: 0 1rem;
    }
}