.air-box{
    text-align: center;
    gap: 2rem;
    padding: 1rem;
    color: #fff;
    text-shadow: 0 0 0.1rem #000000;
    
    h2{
        font-size: 3rem;
        margin: 0;
    }
    h3{
        font-size: 2.5rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
    }
    &__aqi-green{
        width: 10vw;
        background-color: #00e400;
    }
    &__aqi-yellow{
        width: 10vw;
        background-color: #ffff00;
    }
    &__aqi-orange{
        width: 10vw;
        background-color: #ff7e00;
    }
    &__aqi-red{
        width: 10vw;
        background-color: #ff0000;
    }
    &__aqi-purple{
        width: 10vw;
        background-color: #99004c;
    }
    &__aqi-maroon{
        width: 10vw;
        background-color: #7e0023;
    }
}


